body {
	
}

.b1 {
	position:absolute;
    transition: .5s ease;
    top: 30%;
    left: 20%;
    width: 50%;
    

}

.b2 {
	position:absolute;
    transition: .5s ease;
    top: 30%;
    left: 60%;
    width: 50%;
    
}

#quotesBox {
  font-weight: 600;
  text-align: center;
  padding-top: 150px;
}
    
  